.not-found {
  align-items: center;
  justify-content: center;
  height: 87vh;
  background-image: url("../../images/404background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: 2px solid;
  background-image: linear-gradient(85deg, #61c7ef, #4833fb);
  border-radius: 10px;
  text-decoration: none;
  margin-top: 15px;
}
