.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

h1,
h2 {
  color: #333;
}

.threads {
  margin-top: 20px;
}

.thread {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thread h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.thread h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.thread p {
  font-size: 16px;
  margin-bottom: 10px;
}

.thread button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thread button:hover {
  background-color: #218838;
}
.page-title {
  color: white;
}

.comment-container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comment {
  font-size: 14px;
  color: #333;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.comment-container > .comment {
  border-top: none;
}

.comment-container .comment-container {
  background-color: #f1f1f1;
}
