.details-container {
  display: flex;
  background-image: linear-gradient(85deg, #61c7ef, #4833fb);
  padding: 20px;
}

.details-container h1 {
  color: white;
}

.details-container a {
  border: 2px solid;
  border-radius: 6px;
  padding: 5px;
  background-image: linear-gradient(85deg, #61c7ef, #4833fb);
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-left: 20px;
}

.details-container img {
  border-radius: 15px;
  margin-bottom: 20px;
}

.noAnimes {
  color: white;
  font-size: 20px;
}

.rightSection {
  margin-top: 20px;
  margin-left: 50px;
  color: white;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
